.desktop-block {
  overflow: hidden;
  transition: height 0.5s ease, opacity 0.5s ease;
  height: 300px;
  opacity: 1;

  &.collapsed {
    height: 30px;
  }

  &.closing {
    opacity: 0;
    height: 0;
    pointer-events: none;
  }
}

.desktop-block-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cacaca;
  padding: 3px 5px;
  font-size: 14px;
}

.block-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 14px;
  padding: 3px 4px;
}

.desktop-table {
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
  min-height: calc(100% - 66px);
  font-size: 14px;
}

.table-header {
  background-color: #cacaca;
}

.table-header-items {
  white-space: nowrap;
  padding: 10px 10px 10px 10px;
  text-align: start;

  &:hover {
    // sort-circle
  }
}

.table-row {
  padding: 10px 30px 10px 10px;
}

.item-buttons {
  padding: 5px;
  margin: 5px 8px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: gray;

  &:hover {
    background-color: rgba(0, 0, 0, 0.129);
  }
}

.inner-block-item {
  background-color: #cacaca;
  padding: 3px;
  font-size: 14px;
  display: flex;
  align-items: center;
}
