.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 8px 10px 30px;
  border-bottom: 1px solid #171821;
}

.active-desktop {
  display: flex;
}

.active-buttons {
  cursor: pointer;
  padding: 6px 12px;
  margin-right: 10px;
  border: 1px solid #171821;
  border-radius: 5px;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 10px;

  &.active-id {
    color: white;
    background-color: #171821;
    border: none;
  }
}

.account-button {
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid #171821;
  border-radius: 5px;
  margin-right: 10px;
}

.header-buttons {
  background: none;
  border: none;
  color: rgb(86, 86, 86);
  cursor: pointer;
  padding: 4px 10px;

  &:hover {
    color: #171821;
  }
}

.header-item {
  position: relative;
}

.dropdown-user-menu {
  position: absolute;
  top: 35px;
  right: 1%;
  background-color: white;
  border: 1px solid #1e1f32;
  border-radius: 3px;
  width: 180px;
  z-index: 1000;
}

.dropdown-user-menu-list {
  line-height: 1.5;
  padding: 5px 2px;
  color: black;
  cursor: pointer;
  font-size: 14px;
}

.dropdown-user-menu-list-item {
  padding: 5px 10px;
  display: flex;
  align-items: center;

  &:hover {
    background-color: rgba(0, 0, 0, 0.09);
  }
}
