.header {
  display: flex;
  justify-content: space-around;
  position: relative;
  padding: 10px;

  &.collapsedHeader {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.header::after {
  content: '';
  position: absolute;
  left: 1;
  bottom: 0;
  width: 100%;
  height: 0.1px;
  background-color: rgba(255, 255, 255, 0.468);
}

.button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 4px;
}

.icon {
  font-size: 18px;
  width: 18px;
  height: 18px;
}

.iconFolder {
  font-size: 16px;
  width: 16px;
  height: 16px;
}

.button:hover {
  color: #95f4ff;
}

.buttonChevronLeft {
  border: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
  position: absolute;
  right: -15px;
  top: 6px;
  background-color: #171821;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 3px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.575);
  }
}

.collapsedPosition {
  right: -20px;
}

.chevronIcon {
  transition: transform 0.3s;
}

.collapsed {
  transform: rotate(180deg);
}

.dropdownMenu {
  position: absolute;
  top: 35px;
  right: -110px;
  background-color: white;
  border: 1px solid #1e1f32;
  border-radius: 3px;
  width: 160px;

  ul {
    list-style: none;
    padding: 3px 0;
    margin: 0;

    li {
      padding: 5px;
      color: black;
      cursor: pointer;
      font-size: 13px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.09);
      }
    }
  }
}
