.list-item-container {
  position: relative;
}

.sidebar-list-item {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.797);
  line-height: 1.5;
  padding: 5px 10px;
  letter-spacing: 0.6px;
  position: relative;
  user-select: none;

  &:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.112);
  }

  &.collapsed {
    padding: 10px;

    &:hover {
      color: #95f4ff;
      background: none;
    }
  }
}

.arrow {
  font-size: 10px;
  margin-left: auto;
  transition: transform 0.2s;

  &.open {
    transform: rotate(90deg);
  }
}

.menu-icons {
  width: 15px;
}

.menu-item {
  padding-left: 10px;
}

.submenu {
  list-style-type: none;
  position: relative;
  display: none;
  background-color: rgba(128, 128, 128, 0.11);

  &:not(.is--sidebar-collapsed).is--open {
    display: block;
  }
}

.submenu-item {
  padding-left: 15px;
}

.submenu-icons {
  width: 15px;
  margin-right: 7px;
}
