.sidebar {
  width: 220px;
  background-color: #171821;
  box-sizing: border-box;
  height: 100vh;
  padding: 0;

  &.sidebar-collapsed {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
  }
}

.sidebar-list {
  font-size: 13px;
  cursor: pointer;
  height: calc(100vh - 48px);
  overflow: auto;
  scrollbar-width: thin;

  &.sidebar-collapsed {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
  }
}
