@import './list-item.scss';
@import './sidebar-header.scss';

.sidebar {
  min-width: 220px;
  max-width: 220px;
  background-color: #171821;
  box-sizing: border-box;
  height: 100vh;

  &.sidebar-collapsed {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
  }
}

.sidebar-list {
  font-size: 13px;
  cursor: pointer;
  height: calc(100vh - 60px);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: darkgrey #f1f1f1;
  padding: 5px 0;

  &.sidebar-collapsed {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
  }
}
